@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet');



/* HEADER & NAVBAR */
.imageSize {
        width: 90%;
}

.shareButtonSpacing {
  width: 2.5vh;
  height: 2.5vh;
  margin-right: .3vh;
}

.topviewSpace {
margin-bottom: 5vw;
}


.space {
 margin-top: 30vh !important;
}

.loaderLight {
        letter-spacing: .5vh;
        background: -webkit-linear-gradient(left, #C0C0C0 0%,#D3D3D3 24%,#D3D3D3 36%,#C0C0C0 46%,#C0C0C0 52%,#C0C0C0 58%,#C0C0C0 67%,#000000 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 300%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: 3s;
        animation: font-shine 3s infinite linear;
}

.cardFont {
font-family: 'Noto Sans', sans-serif;
text-align: center;
color: #C0C0C0;
text-align: center;
}

.cardTitle {
letter-spacing: 1vw;
margin-top: 2vw;
font-size: 5vw !important;
background-color: #000000 !important;
z-index: 50 !important;
}

.cardSubtitle {
letter-spacing: .2vh;
font-size: 1.4vw !important;
}

.adjustCardBody {
        background-color: #000000 !important;
}

.lastCard {
  margin-bottom: 10vh !important;
}


.cardBody {
color: #C0C0C0;
background-size: 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 
}

.limitHeightVideo {
  height: 20vw !important;
}

.whiteHRLINE {
  background-color: #C0C0C0 !important;
  height: .1vh !important;
}

.VideoCube {
  margin-top: -3vh;
  width: 50%;
}

.VideoCoin {
  margin-bottom: -3vh;
  width: 65%;
}

.mobileAdjustCoin {
        margin-top: -12vh !important;
}

.mobileAdjustCube {
        margin-top: -12vh !important;
}

.paragraphBody {
        font-size: 1.1vw !important;
}

.cardFontMain {
        text-align: center;
        background: -webkit-linear-gradient(left, #C0C0C0 0%,#e5e5e5 24%,#D3D3D3 36%,#C0C0C0 46%,#C0C0C0 52%,#C0C0C0 58%,#cccccc 67%,#D3D3D3 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
}



  @keyframes font-shine {
    0% {background-position: 0% 0}
    100% {background-position: -100% 0}
  }


/* MAIN DISPLAY */

/* FRONT TEXT DISPLAY */

.loading-text {
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    width: 100%;
    
}
    .Headline {
        font-size: 5vw !important;
        letter-spacing: .3vw;
        text-align: center;
        color: #C0C0C0;
    }

    .Subtitle {
        font-size: 1.75vw !important;
        letter-spacing: .2vw;
        text-align: center;
        color: #C0C0C0;
    }

    .HeadlineAdjustment {
        margin-top: 10vw !important;
    }

    .SubtitleAdjustment {
        margin-top: 5% !important;
    }


  .loading-text span {
    color: #C0C0C0;
    font-family: 'Noto Sans', sans-serif;
  }


  @media screen and (min-width: 3500px) and (max-width: 5400px) {
        .paragraphBody {
                font-size: .7vw !important;
        }

        .cardSubtitle {
                font-size: 1.3vw !important;
        }

        .limitHeightVideo {
                height: 30vw !important;
        }

        .imageSize {
                height: 20vw;
                width: 20vw;
                margin-top: 5vw;
        }

        .VideoCube {
                width: 80%;
                margin-top: -5vw;
        }

        .VideoCoin {
                margin-bottom: -6vw !important;
                width: 100%;
        }

        .VideoTriangles {
                width: 70%;
                margin-top: -3vw;
        }        
}

@media screen and (min-width: 3001px) and (max-width: 3499px) {
        .paragraphBody {
                font-size: .9vw !important;
        }

        .cardSubtitle {
                font-size: 1.8vw !important;
        }

        .limitHeightVideo {
                height: 30vw !important;
        }

        .imageSize {
                height: 20vw;
                width: 20vw;
                margin-top: 5vw;
        }

        .VideoCube {
                width: 80%;
                margin-top: -5vw;
        }

        .VideoCoin {
                margin-bottom: -4vw !important;
                width: 100%;
        }

        .VideoTriangles {
                width: 70%;
                margin-top: -3vw;
        }           
}

  @media screen and (min-width: 2601px) and (max-width: 3000px) {
        .paragraphBody {
                font-size: .9vw !important;
        }

        .cardSubtitle {
                font-size: 1.8vw !important;
        }

        .limitHeightVideo {
                height: 30vw !important;
        }

        .imageSize {
                height: 20vw;
                width: 20vw;
                margin-top: 5vw;
        }

        .VideoCube {
                width: 80%;
                margin-top: -5vw;
        }

        .VideoCoin {
                margin-bottom: -4vw !important;
                width: 100%;
        }

        .VideoTriangles {
                width: 70%;
                margin-top: -3vw;
        }              
}

  @media screen and (min-width: 2301px) and (max-width: 2600px) {
        .limitHeightVideo {
                height: 30vw !important;
        }

        .imageSize {
                height: 20vw;
                width: 20vw;
                margin-top: 5vw;
        }

        .VideoCube {
                width: 80%;
                margin-top: -5vw;
        }

        .VideoCoin {
                margin-bottom: -4vw !important;
                width: 100%;
        }

        .VideoTriangles {
                width: 70%;
                margin-top: -3vw;
        }        
}

  @media screen and (min-width: 1801px) and (max-width: 2300px) {
        .limitHeightVideo {
                height: 20vw !important;
        }

        .VideoCube {
                margin-top: -6vw;
                width: 60%;
                margin-bottom: 6vw;
                margin-left: -2vw;
        }

        .VideoCoin {
                margin-bottom: -8vw !important;
                width: 70%;
                margin-left: -1vw !important;
        }

        .VideoTriangles {
                margin-bottom: -8vw !important;
                width: 50%;
                margin-top: -4vw !important;
        }
}

  @media screen and (min-width: 1501px) and (max-width: 1800px) {
        .paragraphBody {
                font-size: 1.3vw !important;
        }

        .cardSubtitle {
                font-size: 2vw !important;
        }

        .limitHeightVideo {
                height: 30vw !important;
        }

        .VideoCube {
                margin-top: -6vw;
                width: 90%;
                margin-bottom: 6vw;
                margin-left: -2vw;
        }

        .VideoCoin {
                margin-bottom: -8vw !important;
                width: 110%;
                margin-left: -1vw !important;
        }

        .VideoTriangles {
                margin-bottom: -8vw !important;
                width: 80%;
                margin-top: -4vw !important;
        }

              
}

@media screen and (min-width: 1368px) and (max-width: 1500px) {
        .Headline {
                font-size: 5vw !important;
                margin-top: 1vw !important;
        }
        
            .Subtitle {
                font-size: 2vw !important;
                margin-top: .3vw !important;
                margin-left: 3vw !important;
        }

        .paragraphBody {
                font-size: 2vw !important;
        }

        .cardSubtitle {
                font-size: 3vw !important;
        }

        .mobileAdjustCube {
        margin-top: -6vh !important;
        }

        .limitHeightVideo {
                height: 27vw !important;
        }

        .VideoCube {
                margin-top: -6vw;
                width: 80%;
                margin-bottom: 6vw;
                margin-left: -2vw;
        }

        .VideoCoin {
                margin-bottom: -8vw !important;
                width: 90%;
                margin-left: -1vw !important;
        }

        .VideoTriangles {
                margin-bottom: -8vw !important;
                width: 70%;
                margin-top: -4vw !important;
        }

        .mobileAdjustCoin {
                margin-top: -4vw !important;
        }

        .whiteHRLINE {
                background-color: #C0C0C0 !important;
                height: .1vh !important;
                margin-bottom: 3vh;
        }
              
}


  @media screen and (min-width: 760px) and (max-width: 1367px) {
        .Headline {
                font-size: 5vw !important;
                margin-top: 1vw !important;
        }
        
            .Subtitle {
                font-size: 3vw !important;
                margin-top: .5vw !important;
                margin-left: 3vw !important;
        }


        .paragraphBody {
                font-size: 2vw !important;
        }

        .cardSubtitle {
                font-size: 3vw !important;
        }

        .mobileAdjustCube {
        margin-top: -6vh !important;
        }

        .HeadlineAdjustment {
                margin-top: 8vw !important;
        }

        .limitHeightVideo {
                height: 38vw !important;
        }

        .VideoCube {
                margin-top: -4vw;
                width: 100%;
                margin-left: 0vw;
        }

        .VideoCoin {
                margin-bottom: -8vw !important;
                width: 130%;
                margin-left: -7vw !important;
        }

        .VideoTriangles {
                margin-bottom: -8vh !important;
                width: 90%;
                margin-top: -4vh !important;
        }

        .mobileAdjustCoin {
                margin-top: -4vh !important;
        }

}

@media screen and (min-width: 541px) and (max-width: 759px) {

        .Headline {
                font-size: 5vw !important;
                margin-top: 1vw !important;
        }
        
            .Subtitle {
                font-size: 3vw !important;
                margin-top: .5vw !important;
        }


        .paragraphBody {
                font-size: 3vw !important;
        }

        .cardSubtitle {
                font-size: 4vw !important;
        }

        .cardTitle {
                font-size: 6vw !important;
        }

        .mobileAdjustCube {
                margin-top: 0vh !important;
        }

        .imageSize {
                height: 35vw;
                width: 35vw;
        }

        .headlineFont {
                letter-spacing: .5vh;
                font-size: 1.75vh !important;
        }

        .limitHeightVideo {
                height: 45vw !important;
        }

        .VideoCube {
                width: 60%;
                margin-top: -5vh !important;
        }

        .VideoCoin {
                width: 75%;
                margin-left: 0vh !important;
        }

        .VideoTriangles {
                width: 50%;
                margin-top: -5vh !important;
                margin-bottom: -10vh !important;
        }

        .mobileAdjustCoin {
                margin-top: -4vh !important;
        }

}

@media screen and (min-width: 500px) and (max-width: 540px) {
        .paragraphBody {
                font-size: 3vw !important;
        }

        .cardSubtitle {
                font-size: 4vw !important;
        }

        .mobileAdjustCube {
                margin-top: 0vh !important;
        }

        .imageSize {
                height: 35vw;
                width: 35vw;
        }

        .Headline {
                font-size: 8vw !important;
                margin-top: 2vw !important;
        }
        
            .Subtitle {
                font-size: 5vw !important;
                margin-top: 3vw !important;
        }


        .headlineFont {
                letter-spacing: .5vh;
                font-size: 1.75vh !important;
        }

        .limitHeightVideo {
                height: 40vw !important;
        }

        .VideoCube {
                margin-top: -7vh;
                width: 55%;
        }

        .VideoCoin {
                width: 60%;
                margin-left: 0vh !important;
        }

        .VideoTriangles {
                width: 45%;
                margin-top: -10vh !important;
                margin-bottom: -10vh !important;
        }

        .mobileAdjustCoin {
                margin-top: -4vh !important;
        }
}

@media screen and (min-width: 381px) and (max-width: 480px) {
        .paragraphBody {
                font-size: 3vw !important;
        }

        .cardSubtitle {
                font-size: 4vw !important;
        }

        .mobileAdjustCube {
                margin-top: 0vw !important;
        }

        .Headline {
                font-size: 8vw !important;
                margin-top: 2vw !important;
        }
        
            .Subtitle {
                font-size: 4vw !important;
                margin-top: 3vw !important;
        }


        .imageSize {
                height: 35vw;
                width: 35vw;
        }

        .headlineFont {
                letter-spacing: .5vw;
                font-size: 1.75vw !important;
        }

        .limitHeightVideo {
                height: 45vw !important;
        }

        .VideoCube {
                margin-top: -7vw;
                width: 60%;
        }

        .VideoCoin {
                width: 70%;
                margin-left: 0vw !important;
                margin-top: -2vw;
        }

        .VideoTriangles {
                width: 50%;
                margin-top: -10vw !important;
                margin-bottom: -10vw !important;
        }

        .mobileAdjustCoin {
                margin-top: -4vw !important;
        }
}

@media screen and (min-width: 370px) and (max-width: 380px) {
        .Headline {
                font-size: 8vw !important;
                margin-top: 2vw !important;
        }
        
            .Subtitle {
                font-size: 4vw !important;
                margin-top: 3vw !important;
        }


        .paragraphBody {
                font-size: 2.5vw !important;
        }

        .cardSubtitle {
                font-size: 3vw !important;
        }

        .mobileAdjustCube {
                margin-top: 0vw !important;
        }
        
        .imageSize {
                height: 35vw;
                width: 35vw;
        }

        .limitHeightVideo {
                height: 30vw !important;
        }

        .VideoCube {
                margin-top: -8vw !important;
                width: 45%;
        }

        .VideoCoin {
                width: 50%;
                margin-left: -3vw !important;
        }

        .VideoTriangles {
                width: 35%;
                margin-top: -5vw !important;
        }

        .mobileAdjustCoin {
                margin-top: 0vw !important;
        }
}

@media screen and (min-width: 310px) and (max-width: 369px) {
        .paragraphBody {
                font-size: 2.5vw !important;
        }

        .cardSubtitle {
                font-size: 3vw !important;
        }

        .Headline {
                font-size: 8vw !important;
                margin-top: 2vw !important;
        }
        
            .Subtitle {
                font-size: 4vw !important;
                margin-top: 3vw !important;
        }


        .mobileAdjustCube {
                margin-top: 0vw !important;
        }
        
        .imageSize {
                height: 25vw;
                width: 25vw;
        }

        .limitHeightVideo {
                height: 30vw !important;
        }

        .VideoCube {
                margin-top: -2vw !important;
                width: 35%;
        }

        .VideoCoin {
                width: 45%;
                margin-left: -1vw !important;
        }

        .VideoTriangles {
                width: 35%;
                margin-top: -3vw !important;
        }

        .mobileAdjustCoin {
                margin-top: -2vw !important;
        }

        .headlineFont {
                font-size: 3vw !important;
        }
}

@media screen and (min-width: 260px) and (max-width: 309px) {
        .paragraphBody {
                font-size: 3vw !important;
        }

        .cardSubtitle {
                font-size: 4vw !important;
        }

        .imageSize {
                height: 35vw;
                width: 35vw;
        }

        .shareButtonSpacing {
                width: 5vw;
                height: 5vw;
                margin-right: .5vw;
        }

        .Headline {
                font-size: 5vw !important;
                margin-top: 2vw !important;
        }
        
            .Subtitle {
                font-size: 4vw !important;
                margin-top: 3vw !important;
        }

        .limitHeightVideo {
                height: 30vw !important;
        }

        .VideoCube {
                margin-top: -3vw;
                width: 35%;
        }

        .VideoCoin {
                width: 50%;
                margin-left: 0vw !important;
        }

        .VideoTriangles {
                width: 30%;
        }

        .mobileAdjustCoin {
                margin-top: -6vw !important;
        }
}


.special {
        --button-default-height: 54px;
        --button-default-font-size: 15px;
        --button-default-border-radius: 6px;
        --button-horizontal-padding: 20px;
        --button-raise-level: 5px;
        --button-hover-pressure: 2;
        --transform-speed: 0.185s;
        --button-primary-color: #3b3b3b;
        --button-primary-color-dark: #242323;
        --button-primary-color-light: #d4d9e4;
        --button-primary-color-hover: #7d7d7d;
        --button-primary-border: none;
        }

a {
        color: #FFFFFF;
        text-decoration: none !important;
}