@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo+Black&display=swap');



/* HEADER & NAVBAR */
.imageSize {
 width: 3vh;
 height: 3vh;
 margin-right: 1vh;
}

.shareButtonSpacing {
  width: 2.5vh;
  height: 2.5vh;
  margin-right: .3vh;
}


.space {
 margin-top: 30vh !important;
}

.loaderLight {
        letter-spacing: .5vh;
        background: -webkit-linear-gradient(left, #C0C0C0 0%,#D3D3D3 24%,#D3D3D3 36%,#C0C0C0 46%,#C0C0C0 52%,#C0C0C0 58%,#C0C0C0 67%,#000000 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 300%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: 3s;
        animation: font-shine 3s infinite linear;
}

.cardFont {
font-family: 'Anton', sans-serif;
text-align: center;
color: #C0C0C0;
text-align: center;
}

.cardTitle {
letter-spacing: 1vh;
margin-top: 2vh;
font-size: 5vh !important;
background-color: #000000 !important;
z-index: 50 !important;
}

.cardSubtitle {
letter-spacing: .2vh;
font-size: 1.75vh !important;
}

.adjustCardBody {
        background-color: #000000 !important;
}

.lastCard {
  margin-bottom: 10vh !important;
}


.cardBody {
color: #C0C0C0;
background-size: 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 
}

.limitHeightVideo {
  height: 40vh !important;
}

.whiteHRLINE {
  background-color: #C0C0C0 !important;
  height: .1vh !important;
}

.VideoCube {
  margin-top: -3vh;
  width: 50%;
}

.VideoCoin {
  margin-bottom: -3vh;
  width: 65%;
}

.mobileAdjustCoin {
        margin-top: -12vh !important;
}

.mobileAdjustCube {
        margin-top: -12vh !important;
}

.cardFontMain {
        transition: 10s;
        text-align: center;
        background: -webkit-linear-gradient(left, #C0C0C0 0%,#e5e5e5 24%,#D3D3D3 36%,#C0C0C0 46%,#C0C0C0 52%,#C0C0C0 58%,#cccccc 67%,#D3D3D3 100%);
        animation: font-shine 20s infinite linear;
        background-size: 300%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}

.headlineFont {
  letter-spacing: .5vh;
  font-family: 'Syne Mono', monospace;
  margin-top: 2vh;
  font-size: 2.5vh !important;
  background: -webkit-linear-gradient(left, #C0C0C0 0%,#D3D3D3 24%,#D3D3D3 36%,#C0C0C0 46%,#C0C0C0 52%,#C0C0C0 58%,#C0C0C0 67%,#000000 100%);
  background-size: 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 8s;
  text-align: center;
  color: #C0C0C0;
  animation: font-shine 10s;
}


  @keyframes font-shine {
    0% {background-position: 0% 0}
    100% {background-position: -100% 0}
  }


/* MAIN DISPLAY */

/* FRONT TEXT DISPLAY */

.loading-text {
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    width: 100%;
    
}
    .Headline {
        font-size: 3.5vh !important;
        letter-spacing: .5vh;
    }

    .Subtitle {
        font-size: 1.75vh !important;
        letter-spacing: .3vh;
    }

    .HeadlineAdjustment {
        margin-top: -12% !important;
    }

    .SubtitleAdjustment {
        margin-top: -5% !important;
    }


  .loading-text span {
    display: inline-block;
    margin: 0 5px;
    color: #C0C0C0;
    font-family: 'Syne Mono', monospace;
  }

  .loading-text span:nth-child(1) {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    -webkit-animation: blur-text 8s 0s infinite linear alternate;
            animation: blur-text 8s 0s infinite linear alternate;
  }

  .loading-text span:nth-child(2) {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    -webkit-animation: blur-text 8s 0.2s infinite linear alternate;
            animation: blur-text 8s 0.2s infinite linear alternate;
  }

  .loading-text span:nth-child(3) {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    -webkit-animation: blur-text 8s 0.8s infinite linear alternate;
            animation: blur-text 8s 0.8s infinite linear alternate;
  }

  .loading-text span:nth-child(4) {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    -webkit-animation: blur-text 8s 0.6s infinite linear alternate;
            animation: blur-text 8s 0.6s infinite linear alternate;
  }

  .loading-text span:nth-child(5) {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    -webkit-animation: blur-text 8s 0.8s infinite linear alternate;
            animation: blur-text 8s 0.8s infinite linear alternate;
  }

  .loading-text span:nth-child(6) {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    -webkit-animation: blur-text 8s 1s infinite linear alternate;
            animation: blur-text 8s 1s infinite linear alternate;
  }

  .loading-text span:nth-child(7) {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    -webkit-animation: blur-text 8s 1.2s infinite linear alternate;
            animation: blur-text 8s 1.2s infinite linear alternate;
  }

  .loading-text span:nth-child(8) {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      -webkit-animation: blur-text 8s 1.8s infinite linear alternate;
              animation: blur-text 8s 1.8s infinite linear alternate;
    }
    
  .loading-text span:nth-child(9) {
  -webkit-filter: blur(0px);
          filter: blur(0px);
  -webkit-animation: blur-text 8s 1.6s infinite linear alternate;
          animation: blur-text 8s 1.6s infinite linear alternate;
  }

  .loading-text span:nth-child(10) {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    -webkit-animation: blur-text 8s 1.8s infinite linear alternate;
            animation: blur-text 8s 1.8s infinite linear alternate;
    }

    .loading-text span:nth-child(11) {
        -webkit-filter: blur(0px);
                filter: blur(0px);
        -webkit-animation: blur-text 8s 2s infinite linear alternate;
                animation: blur-text 8s 2s infinite linear alternate;
        }

    .loading-text span:nth-child(12) {
        -webkit-filter: blur(0px);
                filter: blur(0px);
        -webkit-animation: blur-text 8s 2.2s infinite linear alternate;
                animation: blur-text 8s 2.2s infinite linear alternate;
        }

    .loading-text span:nth-child(13) {
        -webkit-filter: blur(0px);
                filter: blur(0px);
        -webkit-animation: blur-text 8s 2.8s infinite linear alternate;
                animation: blur-text 8s 2.8s infinite linear alternate;
    }

    .loading-text span:nth-child(14) {
        -webkit-filter: blur(0px);
                filter: blur(0px);
        -webkit-animation: blur-text 8s 2.6s infinite linear alternate;
                animation: blur-text 8s 2.6s infinite linear alternate;
    }

    .loading-text span:nth-child(15) {
        -webkit-filter: blur(0px);
                filter: blur(0px);
        -webkit-animation: blur-text 8s 2.8s infinite linear alternate;
                animation: blur-text 8s 2.8s infinite linear alternate;
    }
    
    .loading-text span:nth-child(16) {
        -webkit-filter: blur(0px);
                filter: blur(0px);
        -webkit-animation: blur-text 8s 3s infinite linear alternate;
                animation: blur-text 8s 3s infinite linear alternate;
    }
    
    .loading-text span:nth-child(17) {
        -webkit-filter: blur(0px);
                filter: blur(0px);
        -webkit-animation: blur-text 8s 3.2s infinite linear alternate;
                animation: blur-text 8s 3.2s infinite linear alternate;
    }

    .loading-text span:nth-child(18) {
        -webkit-filter: blur(0px);
                filter: blur(0px);
        -webkit-animation: blur-text 8s 3.8s infinite linear alternate;
                animation: blur-text 8s 3.8s infinite linear alternate;
    }
  
    .loading-text span:nth-child(19) {
        -webkit-filter: blur(0px);
                filter: blur(0px);
        -webkit-animation: blur-text 8s 3.6s infinite linear alternate;
                animation: blur-text 8s 3.6s infinite linear alternate;
    }

    .loading-text span:nth-child(20) {
        -webkit-filter: blur(0px);
                filter: blur(0px);
        -webkit-animation: blur-text 8s 3.8s infinite linear alternate;
                animation: blur-text 8s 3.8s infinite linear alternate;
    }

    .loading-text span:nth-child(21) {
        -webkit-filter: blur(0px);
                filter: blur(0px);
        -webkit-animation: blur-text 8s 4s infinite linear alternate;
                animation: blur-text 8s 4s infinite linear alternate;
    }

    .loading-text span:nth-child(22) {
        -webkit-filter: blur(0px);
                filter: blur(0px);
        -webkit-animation: blur-text 8s 4.2s infinite linear alternate;
                animation: blur-text 8s 4.2s infinite linear alternate;
    }

    .loading-text span:nth-child(23) {
        -webkit-filter: blur(0px);
                filter: blur(0px);
        -webkit-animation: blur-text 8s 4.8s infinite linear alternate;
                animation: blur-text 8s 4.8s infinite linear alternate;
    }

    .loading-text span:nth-child(24) {
        -webkit-filter: blur(0px);
                filter: blur(0px);
        -webkit-animation: blur-text 8s 4.6s infinite linear alternate;
                animation: blur-text 8s 4.6s infinite linear alternate;
    }

    .loading-text span:nth-child(25) {
        -webkit-filter: blur(0px);
                filter: blur(0px);
        -webkit-animation: blur-text 8s 4.8s infinite linear alternate;
                animation: blur-text 8s 4.8s infinite linear alternate;
    }

    .loading-text span:nth-child(26) {
        -webkit-filter: blur(0px);
                filter: blur(0px);
        -webkit-animation: blur-text 8s 5s infinite linear alternate;
                animation: blur-text 8s 5s infinite linear alternate;
    }

    .loading-text span:nth-child(27) {
        -webkit-filter: blur(0px);
                filter: blur(0px);
        -webkit-animation: blur-text 8s 5.2s infinite linear alternate;
                animation: blur-text 8s 5.2s infinite linear alternate;
    }

    .loading-text span:nth-child(28) {
        -webkit-filter: blur(0px);
                filter: blur(0px);
        -webkit-animation: blur-text 8s 5.8s infinite linear alternate;
                animation: blur-text 8s 5.8s infinite linear alternate;
    }

    .loading-text span:nth-child(29) {
        -webkit-filter: blur(0px);
                filter: blur(0px);
        -webkit-animation: blur-text 8s 5.6s infinite linear alternate;
                animation: blur-text 8s 5.6s infinite linear alternate;
    }

    .loading-text span:nth-child(30) {
        -webkit-filter: blur(0px);
                filter: blur(0px);
        -webkit-animation: blur-text 8s 5.8s infinite linear alternate;
                animation: blur-text 8s 5.8s infinite linear alternate;
    }

    .loading-text span:nth-child(31) {
        -webkit-filter: blur(0px);
                filter: blur(0px);
        -webkit-animation: blur-text 8s 6s infinite linear alternate;
                animation: blur-text 8s 6s infinite linear alternate;
    }

  @-webkit-keyframes blur-text {
    0% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
    }
    100% {
      -webkit-filter: blur(1px);
              filter: blur(1px);
    }
  }
  
  @keyframes blur-text {
    0% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
    }
    100% {
      -webkit-filter: blur(1px);
              filter: blur(1px);
    }
  }

  @media screen and (min-width: 3500px) and (max-width: 5400px) {
        .limitHeightVideo {
                height: 50vh !important;
        }

        .VideoCube {
                width: 35%;
        }

        .VideoCoin {
                margin-bottom: -4vh !important;
                width: 50%;
        }

        .VideoTriangles {
                width: 30%;
        }        
}

@media screen and (min-width: 3001px) and (max-width: 3499px) {
        .limitHeightVideo {
                height: 50vh !important;
        }

        .VideoCube {
                width: 35%;
        }

        .VideoCoin {
                margin-bottom: -4vh !important;
                width: 50%;
        }

        .VideoTriangles {
                width: 30%;
        }        
}

  @media screen and (min-width: 2601px) and (max-width: 3000px) {
        .limitHeightVideo {
                height: 50vh !important;
        }

        .VideoCube {
                width: 35%;
                margin-top: -7vh;
        }

        .VideoCoin {
                margin-bottom: -4vh !important;
                width: 40%;
        }

        .VideoTriangles {
                width: 30%;
                margin-top: -6vh;
        }        
}

  @media screen and (min-width: 2301px) and (max-width: 2600px) {
        .limitHeightVideo {
                height: 50vh !important;
        }

        .VideoCube {
                width: 40%;
                margin-top: -10vh;
        }

        .VideoCoin {
                margin-bottom: -4vh !important;
                width: 50%;
        }

        .VideoTriangles {
                width: 35%;
                margin-top: -6vh;
        }        
}

  @media screen and (min-width: 1801px) and (max-width: 2300px) {
        .limitHeightVideo {
                height: 50vh !important;
        }

        .VideoCube {
                width: 70%;
                margin-top: -8vh;
                margin-left: -1vh;
        }

        .VideoCoin {
                margin-bottom: -4vh !important;
                width: 90%;
        }

        .VideoTriangles {
                width: 60%;
                margin-top: -6vh;
        }        
}

  @media screen and (min-width: 1501px) and (max-width: 1800px) {
        .limitHeightVideo {
                height: 50vh !important;
        }

        .VideoCube {
                width: 100%;
                margin-top: 10vh !important;
        }

        .VideoCoin {
                margin-bottom: -4vh !important;
        }

        .VideoTriangles {
                width: 50%;
                margin-top: -3vh;
        }

              
}

@media screen and (min-width: 1368px) and (max-width: 1500px) {
        .headlineFont {
                letter-spacing: .5vh;
                font-size: 2vh !important;
                margin-top: .3vh !important;
                margin-left: 2vh !important;
        }

        .mobileAdjustCube {
        margin-top: -6vh !important;
        }

        .limitHeightVideo {
                height: 30vh !important;
        }

        .VideoCube {
                margin-top: -6vh;
                width: 45%;
                margin-bottom: 6vh;
                margin-left: -2vh;
        }

        .VideoCoin {
                margin-bottom: -8vh !important;
                width: 60%;
                margin-left: -1vh !important;
        }

        .VideoTriangles {
                margin-bottom: -8vh !important;
                width: 40%;
                margin-top: -4vh !important;
        }

        .mobileAdjustCoin {
                margin-top: -4vh !important;
        }

        .whiteHRLINE {
                background-color: #C0C0C0 !important;
                height: .1vh !important;
                margin-bottom: 3vh;
        }
              
}





  @media screen and (min-width: 760px) and (max-width: 1367px) {
        .headlineFont {
                letter-spacing: .5vh;
                font-size: 2vh !important;
                margin-top: .3vh !important;
                margin-left: 2vh !important;
        }

        .mobileAdjustCube {
        margin-top: -6vh !important;
        }

        .limitHeightVideo {
                height: 30vh !important;
        }

        .VideoCube {
                margin-top: -6vh;
                width: 110%;
                margin-left: -2vh;
        }

        .VideoCoin {
                margin-bottom: -8vh !important;
                width: 140%;
                margin-left: -7vh !important;
        }

        .VideoTriangles {
                margin-bottom: -8vh !important;
                width: 100%;
                margin-top: -4vh !important;
        }

        .mobileAdjustCoin {
                margin-top: -4vh !important;
        }

        .whiteHRLINE {
                background-color: #C0C0C0 !important;
                height: .1vh !important;
                margin-bottom: 3vh;
        }
              
}

@media screen and (min-width: 541px) and (max-width: 759px) {
        .VideoCoin {
                width: 70%;
        }

        .limitHeightVideo {
                height: 45vh !important;
        }
}

@media screen and (min-width: 500px) and (max-width: 540px) {
        .mobileAdjustCube {
                margin-top: 0vh !important;
        }

        .imageSize {
                height: 2vh;
                width: 2vh;
        }

        .headlineFont {
                letter-spacing: .5vh;
                font-size: 1.75vh !important;
        }

        .limitHeightVideo {
                height: 37vh !important;
        }

        .VideoCube {
                margin-top: -7vh;
                width: 70%;
        }

        .VideoCoin {
                width: 80%;
                margin-left: 0vh !important;
        }

        .VideoTriangles {
                width: 60%;
                margin-top: -10vh !important;
                margin-bottom: -10vh !important;
        }

        .mobileAdjustCoin {
                margin-top: -4vh !important;
        }
}

@media screen and (min-width: 381px) and (max-width: 480px) {
        .mobileAdjustCube {
                margin-top: 0vh !important;
        }

        .imageSize {
                height: 2vh;
                width: 2vh;
        }

        .headlineFont {
                letter-spacing: .5vh;
                font-size: 1.75vh !important;
        }

        .limitHeightVideo {
                height: 37vh !important;
        }

        .VideoCube {
                margin-top: -7vh;
                width: 90%;
        }

        .VideoCoin {
                width: 110%;
                margin-left: -3vh !important;
        }

        .VideoTriangles {
                width: 80%;
                margin-top: -10vh !important;
                margin-bottom: -10vh !important;
        }

        .mobileAdjustCoin {
                margin-top: -4vh !important;
        }
}

@media screen and (min-width: 370px) and (max-width: 380px) {
        .mobileAdjustCube {
                margin-top: 0vh !important;
        }
        
        .imageSize {
                height: 2vh;
                width: 2vh;
        }

        .limitHeightVideo {
                height: 30vh !important;
        }

        .VideoCube {
                margin-top: -8vh !important;
                width: 100%;
        }

        .VideoCoin {
                width: 110%;
                margin-left: -3vh !important;
        }

        .VideoTriangles {
                width: 80%;
                margin-top: -5vh !important;
        }

        .mobileAdjustCoin {
                margin-top: -4vh !important;
        }
}

@media screen and (min-width: 310px) and (max-width: 369px) {
        .mobileAdjustCube {
                margin-top: 0vh !important;
        }
        
        .imageSize {
                height: 2vh;
                width: 2vh;
        }

        .limitHeightVideo {
                height: 30vh !important;
        }

        .VideoCube {
                margin-top: -2vh !important;
                width: 70%;
        }

        .VideoCoin {
                width: 80%;
                margin-left: -1vh !important;
        }

        .VideoTriangles {
                width: 60%;
                margin-top: -5vh !important;
        }

        .mobileAdjustCoin {
                margin-top: -4vh !important;
        }
}

@media screen and (min-width: 260px) and (max-width: 309px) {
        .imageSize {
                height: 1vh;
                width: 1vh;
        }

        .shareButtonSpacing {
                width: 1.5vh;
                height: 1.5vh;
                margin-right: .1vh;
        }

        .headlineFont {
                letter-spacing: .3vh;
                font-size: .7vh !important;
        }

        .Headline {
                font-size: 2vh !important;
                margin-top: 2vh !important;
        }
        
            .Subtitle {
                font-size: 1vh !important;
                margin-top: 3vh !important;
        }

        .limitHeightVideo {
                height: 30vh !important;
        }

        .VideoCube {
                margin-top: -3vh;
                width: 90%;
        }

        .VideoCoin {
                width: 100%;
                margin-left: 0vh !important;
        }

        .VideoTriangles {
                width: 80%;
        }

        .mobileAdjustCoin {
                margin-top: -4vh !important;
        }
}


.special {
        --button-default-height: 54px;
        --button-default-font-size: 15px;
        --button-default-border-radius: 6px;
        --button-horizontal-padding: 20px;
        --button-raise-level: 5px;
        --button-hover-pressure: 2;
        --transform-speed: 0.185s;
        --button-primary-color: #3b3b3b;
        --button-primary-color-dark: #242323;
        --button-primary-color-light: #d4d9e4;
        --button-primary-color-hover: #7d7d7d;
        --button-primary-border: none;
        }
